[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@github.com:g-truc/glm.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = git@github.com:google/googletest.git
[submodule "dependencies/benchmark"]
	path = dependencies/benchmark
	url = git@github.com:google/benchmark.git
[submodule "dependencies/Utils"]
	path = dependencies/Utils
	url = git@github.com:ValeriiKoniushenko/Utils.git
[submodule "dependencies/smart_ptr"]
	path = dependencies/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
	branch = boost-1.86.0
[submodule "dependencies/assert"]
	path = dependencies/assert
	url = https://github.com/boostorg/assert.git
	branch = boost-1.86.0
